<footer>
    <div class="container">
        <div class="footer-panel">
            <div class="row">
                <div class="col-md-4">
                    <span>©</span>
                    <span>2024</span>
                    <span>SiteProject</span>
                </div>
                <div class="col-md-4">İCONS</div>
                <div class="col-md-4"><span>SiteProject</span></div>

            </div>
        </div>
    </div>
</footer>