@using SiteDiscover.Application.Features.NetworkArchitectures.Queries.GetImages

@{
    ViewData["Title"] = "Index";
}
@model List<GetNetworkImagesDto>

<div class="container text-center">
    <h2 class="header-line-slim">@Localizer["Network Topology"]</h2>
    <div class="gallery">
      @foreach (var item in Model)
        {
            <a href="~/@item.Directory/@item.FileName" target="_blank">
                <img class="image" src="~/@item.Directory/@item.FileName"
                     alt="@item.FileName">
            </a>
        }
    </div>
</div>
