* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 16px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/bg-white.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

    body.no-scroll {
        overflow-y: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: #151515;
    text-transform: capitalize;
    letter-spacing: 0.024em;
    word-spacing: 0.05em;
}

section {
    padding: 40px 0;
}

.btn {
    padding: 10px 20px !important;
    border-radius: 3px !important;
    transition: 250ms all ease-in-out !important;
}

    .btn:hover {
        background: transparent !important;
        color: #000 !important;
        border-color: #000 !important;
    }

.img-circles {
    border-radius: 50%;
}

.row-30 > * {
    margin-bottom: 30px;
}

header {
    background-color: #1b1929;
    width: 100%;
}

.header-line-xl::after {
    content: "";
    display: block;
    width: 160px;
    height: 4px;
    margin: 0.39285em 0 0.423em;
    background: red;
}

.header-line::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin: 0.39285em 0 0.423em;
    background: red;
}

.header-line-sm::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    margin: 0.39285em 0 0.423em;
    background: red;
}

.header-line-slim,
.header-line-slim-sm {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

    .header-line-slim::after,
    .header-line-slim-sm::after {
        content: "";
        position: absolute;
        left: 10%;
        display: inline-block;
        height: 1.2em;
        width: 80%;
        margin-top: 5px;
        color: #6689ff;
    }

    .header-line-slim::after {
        border-bottom: 3px solid;
    }

    .header-line-slim-sm::after {
        border-bottom: 2px solid;
    }

.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

    .nav-list .nav-item {
        display: inline-block;
        margin-left: 2.18rem;
    }

        .nav-list .nav-item .nav-link {
            text-decoration: none;
            position: relative;
            display: inline-block;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            color: #fff;
            transition: 0.25s;
        }

            .nav-list .nav-item .nav-link::before {
                position: absolute;
                content: "";
                bottom: -8px;
                left: 0;
                height: 3px;
                width: 100%;
                background: #6689ff;
                opacity: 0;
                visibility: hidden;
                transform: translateY(5px);
                transition: all 0.2s ease;
            }

            .nav-list .nav-item .nav-link:hover {
                opacity: 1;
                transform: none;
                visibility: visible;
            }

                .nav-list .nav-item .nav-link:hover::before {
                    opacity: 1;
                    transform: none;
                    visibility: visible;
                }

        .nav-list .nav-item.active .nav-link::before {
            opacity: 1;
            transform: none;
            visibility: visible;
        }

.navbar-burger {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
    float: right;
}

    .navbar-burger span {
        position: relative;
        display: block;
        margin: 5px 0;
        transition: 0.3s all ease;
        width: 24px;
        height: 2px;
        transform: rotate(180deg);
        background-color: #ffffff;
        backface-visibility: hidden;
    }

.open .navbar-burger > span:nth-child(1),
.mobile-nav--burger.close > span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
}

.open .navbar-burger > span:nth-child(2),
.mobile-nav--burger.close > span:nth-child(2) {
    transform: rotate(-45deg);
}

.open .navbar-burger > span:nth-child(3),
.mobile-nav--burger.close > span:nth-child(3) {
    width: 0;
}

.navbar-brand img {
    max-height: 44px;
}

.main-article-title {
    font-size: 48px;
    font-weight: 900;
    max-width: 600px;
    color: #fff;
}

.main-article {
    font-size: 18px;
    color: #fff;
    padding: 2.4rem 0;
    max-width: 650px;
}

.has-search .form-control {
    /* padding: 1.6rem; */
    padding-left: 2.8rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    /* color: #aaa; */
    color: #E2E2E2;
}

.form-group.has-search input {
    border: 2px solid #E2E2E2;
    background: transparent !important;
    color: #fff;
}

    .form-group.has-search input::-moz-placeholder {
        color: #E2E2E2;
    }

    .form-group.has-search input::placeholder {
        color: #E2E2E2;
    }

.map-title {
    color: #fff;
    max-width: 350px;
    font-size: 20px;
}

.list-unstyled {
    padding: 0;
    position: absolute;
    z-index: 99;
}

.country-list li {
    padding: 5px;
}

    .country-list li i {
        color: #888;
    }

    .country-list li:hover {
        background-color: #fff;
        cursor: pointer;
    }

.search-list-style {
    background-color: rgba(255, 255, 255, 0.8666666667);
    color: #000;
    display: block;
    font-family: GothamNarrow-Medium, serif;
    font-size: 14px;
    line-height: 1.75rem;
}

.svgMap-wrapper,
.svgMap-container {
    position: relative;
}

.svgMap-block-zoom-notice {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    opacity: 0;
    color: #fff;
    transition: opacity 250ms;
}

.svgMap-block-zoom-notice-active .svgMap-block-zoom-notice {
    pointer-events: all;
    top: 0;
    opacity: 1;
}

.svgMap-block-zoom-notice > div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 32px;
    transform: translateY(-50%);
    font-size: 28px;
}

@media (max-width: 900px) {
    .svgMap-block-zoom-notice > div {
        font-size: 22px;
    }
}

.svgMap-map-wrapper {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    background-color: #1B1929;
    color: #111;
}

    .svgMap-map-wrapper * {
        box-sizing: border-box;
    }

    .svgMap-map-wrapper :focus:not(:focus-visible) {
        outline: 0;
    }

    .svgMap-map-wrapper .svgMap-map-image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .svgMap-map-wrapper .svgMap-map-controls-wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        display: flex;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }

    .svgMap-map-wrapper .svgMap-map-controls-zoom,
    .svgMap-map-wrapper .svgMap-map-controls-move {
        display: flex;
        margin-right: 5px;
        overflow: hidden;
        background: #fff;
    }

        .svgMap-map-wrapper .svgMap-map-controls-zoom:last-child,
        .svgMap-map-wrapper .svgMap-map-controls-move:last-child {
            margin-right: 0;
        }

    .svgMap-map-wrapper .svgMap-control-button {
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: inherit;
        font: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
        overflow: visible;
        text-transform: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
    }

        .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before,
        .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #666;
            transition: background-color 250ms;
        }

        .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:before {
            width: 11px;
            height: 3px;
        }

        .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-zoom-reset-button::before {
            width: 11px;
            height: 11px;
            background: none;
            border: 2px solid #666;
        }

@media (hover: hover) {
    .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:hover:before,
    .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:hover:after {
        background: #111;
    }
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:active:before,
.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button:active:after {
    background: #111;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-disabled:before,
.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-disabled:after {
    background: #ccc;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-button.svgMap-zoom-reset-button.svgMap-disabled:before {
    border: 2px solid #ccc;
    background: none;
}

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-in-button {
    margin: 1px 0 1px 1px;
}

    .svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-in-button:after {
        width: 3px;
        height: 11px;
    }

.svgMap-map-wrapper .svgMap-control-button.svgMap-zoom-out-button {
    margin: 1px 1px 1px 0;
}

.svgMap-map-wrapper .svgMap-map-continent-controls-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.svgMap-map-wrapper .svgMap-country {
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    transition: fill 250ms, stroke 250ms;
}

    .svgMap-map-wrapper .svgMap-country[data-sites] {
        cursor: pointer;
    }

@media (hover: hover) {
    .svgMap-map-wrapper .svgMap-country:hover {
        stroke: #333;
        stroke-width: 1.5;
    }
}

.svgMap-map-wrapper .svgMap-country.svgMap-active {
    stroke: #333;
    stroke-width: 1.5;
}

.svgMap-tooltip {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    border-radius: 2px;
    background: #fff;
    transform: translate(-50%, -100%);
    border-bottom: 1px solid #000;
    display: none;
    pointer-events: none;
    min-width: 60px;
}

    .svgMap-tooltip.svgMap-tooltip-flipped {
        transform: translate(-50%, 0);
        border-bottom: 0;
        border-top: 1px solid #000;
    }

    .svgMap-tooltip.svgMap-active {
        display: block;
    }

    .svgMap-tooltip .svgMap-tooltip-content-container {
        position: relative;
        padding: 10px 20px;
    }

        .svgMap-tooltip .svgMap-tooltip-content-container .svgMap-tooltip-flag-container {
            text-align: center;
            margin: 2px 0 5px;
        }

            .svgMap-tooltip .svgMap-tooltip-content-container .svgMap-tooltip-flag-container.svgMap-tooltip-flag-container-emoji {
                font-size: 50px;
                line-height: 0;
                padding: 25px 0 15px;
            }

            .svgMap-tooltip .svgMap-tooltip-content-container .svgMap-tooltip-flag-container .svgMap-tooltip-flag {
                display: block;
                margin: auto;
                width: auto;
                height: 32px;
                padding: 2px;
                background: rgba(0, 0, 0, 0.15);
                border-radius: 2px;
            }

    .svgMap-tooltip .svgMap-tooltip-title {
        white-space: nowrap;
        font-size: 18px;
        line-height: 28px;
        padding: 0 0 8px;
        text-align: center;
    }

    .svgMap-tooltip .svgMap-tooltip-content {
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        color: #777;
        margin: -5px 0 0;
    }

        .svgMap-tooltip .svgMap-tooltip-content table {
            padding: 0;
            border-spacing: 0px;
            margin: auto;
        }

            .svgMap-tooltip .svgMap-tooltip-content table td {
                padding: 2px 0;
                text-align: left;
            }

                .svgMap-tooltip .svgMap-tooltip-content table td span {
                    color: #111;
                }

                .svgMap-tooltip .svgMap-tooltip-content table td:first-child {
                    padding-right: 10px;
                    text-align: right;
                }

                .svgMap-tooltip .svgMap-tooltip-content table td sup {
                    vertical-align: baseline;
                    position: relative;
                    top: -5px;
                }

        .svgMap-tooltip .svgMap-tooltip-content .svgMap-tooltip-no-data {
            padding: 2px 0;
            color: #777;
            font-style: italic;
        }

    .svgMap-tooltip .svgMap-tooltip-pointer {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        height: 10px;
        width: 30px;
    }

        .svgMap-tooltip .svgMap-tooltip-pointer:after {
            content: "";
            width: 20px;
            height: 20px;
            background: #fff;
            border: 1px solid #000;
            position: absolute;
            bottom: 6px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
        }

    .svgMap-tooltip.svgMap-tooltip-flipped .svgMap-tooltip-pointer {
        bottom: auto;
        top: -10px;
        transform: translateX(-50%) scaleY(-1);
    }

.quick-links {
    display: flex;
    flex-direction: column;
    color: #fff;
}

    .quick-links button {
        background-color: #6689FF;
        color: #fff;
        padding: 17px 33px;
        border: none;
        margin-top: 0.8rem;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 0.075em;
        font-weight: 500;
        transition: 250ms all ease-in-out;
        max-width: 300px;
    }

        .quick-links button:hover {
            background-color: #fff;
            color: #151515;
        }

table th {
    padding: 1.5rem !important;
    background-color: #6689FF !important;
    color: #fff !important;
}

table td {
    padding: 1.5rem !important;
}

.table-fix-head {
    overflow: auto;
    max-height: 1000px;
}

    .table-fix-head thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

.form-control:focus {
    background-color: #fff;
    box-shadow: none !important;
}

.site-list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: auto;
    color: rgba(255, 255, 255, 0.3);
    background-color: #1b1929;
}

    footer .footer-panel {
        padding: 34px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.13);
    }

@media (max-width: 768px) {
    .navbar-burger {
        display: block;
    }

    nav {
        position: absolute;
        left: 0;
        top: 64px;
        width: 100%;
        background-color: #fff;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        z-index: 1;
    }

        nav.active {
            height: 100vh;
        }

    .nav-list {
        padding: 0;
    }

        .nav-list .nav-item {
            margin: 0;
            padding: 0.625rem;
            display: block;
        }

            .nav-list .nav-item .nav-link {
                color: #000;
                display: block;
                padding-bottom: 1rem;
                border-bottom: 1px solid #cccccc;
            }

                .nav-list .nav-item .nav-link::before {
                    display: none;
                }

    gmp-map {
        height: 100%;
    }
}

.index-page-bg-color {
    background-color: #1b1929;
    background-image: none;
    background-attachment: unset;
    background-repeat: unset;
    background-size: unset;
}

.custom-card {
    text-align: left;
    padding: 30px 30px !important;
    letter-spacing: 0.025em;
    background: #ffffff;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
}

    .custom-card .unit {
        display: flex;
    }

        .custom-card .unit .unit-body {
            display: flex;
            flex-direction: column;
        }

        .custom-card .unit.unit-spacing {
            margin-bottom: -20px;
            margin-left: -24px;
        }

            .custom-card .unit.unit-spacing > * {
                margin-bottom: 20px;
                margin-left: 24px;
            }

.custom-card-title {
    font-weight: 400;
    letter-spacing: 0.075em;
}

.custom-card-status {
    color: #6689ff;
    padding-right: 4px;
}

@media (min-width: 576px) {
    .custom-card {
        padding: 40px 20px;
    }
}

@media (min-width: 992px) {
    .custom-card {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) {
    .custom-card {
        padding: 52px 45px 44px;
    }
}

.technical-infrastructure .custom-card {
    position: relative;
    height: 100% !important;
}

.technical-infrastructure .unit-body {
    margin-bottom: 40px !important;
}

.technical-infrastructure .btn {
    position: absolute;
    bottom: 30px !important;
}

.error-404-wrapper {
    max-width: 600px;
    width: 100%;
}

.error-404-content {
    display: flex;
    flex-flow: column;
    color: white;
    margin-bottom: 40px;
}

    .error-404-content strong {
        font-size: 64px;
    }

    .error-404-content h1 {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 15px;
    }

    .error-404-content a {
        text-decoration: none;
        font-size: 14px;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.image {
    height: 250px;
    width: auto;
    /* border: 5px solid #fff; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, .1); */
    overflow: hidden;
    cursor: pointer;
}

    .image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        transition: 0.2s linear;
    }

        .image img:hover {
            transform: scale(1.1);
        }
/*# sourceMappingURL=style.css.map */
