<header>
    <div class="container navbar-main">
        <div class="navbar-brand">
            <a href="#"> <img src="~/images/logo-white.png" alt="brand image"></a>
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Contacts</a>
                </li>
            </ul>
        </nav>
        <button class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>